<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-TAGS">

  <name>NXP SLI TAG READER</name>
	<description>Cordova plugin for reading iso 15693 NXP SLI Tags</description>
    <license>Apache 2.0</license>
	<keywords>cordova,nfc,iso 15693</keywords>
	<js-module src="www/TAGS.js" name="TAGS"> 
		<clobbers target="TAGS"/>
	</js-module>
	
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
		  <feature name="TAGS">
			<param name="android-package" value="org.apache.cordova.plugin.TAGS"/>
		  </feature>
		</config-file>

		<source-file src="src/android/TAGS.java" target-dir="src/com/maval/plugin/"/>
  </platform>
  
  <config-file target="AndroidManifest.xml" parent="/manifest">
		<uses-permission android:name="android.permission.NFC" />
		 <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
  </config-file>
  
   

</plugin>